server {
        listen 80;
        server_name {{fqdn}};
        location / {
                root {{ nginx_root_architrave_local }};
        }
        return 301 https://architrave.local$request_uri;
}
